/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@300;500;900&family=Poppins:wght@300;500;900&display=swap');

* {
  font-family: 'Poppins', 'M PLUS 2', sans-serif;
  font-weight: 300;
  margin: 0;
  text-decoration: none;
  color: inherit;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body, html {
  background-color: #fff;
  overflow-x: hidden;
}
body::before {
  content: '';
  position: fixed;
  left: 100vw;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url('/Sorakime-tegakun/img/back.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  transition: all 0.8s ease-in-out;
}

hr {
  height: 0px;
  padding: 0;
  border: none;
  margin: 10px;
  border-top: 1px solid #000;
}

b, strong {
  font-weight: 500;
}
small {
  font-size: 0.75rem;
}

#menu {
  height: 100vh;
  width: 50vw;
  background-color: #fff6;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  position: fixed;
  left: -100vw;
  padding: 100px;
  box-sizing: border-box;
  border-right: 1px solid #0006;
  box-shadow: 0 0 15px #7777;
  z-index: 9900;
  font-size: 15px;
  transition: all 0.5s ease-in-out;
}
#menu.open {
  left: 0vw;
}
#menu::before {
  content: '';
  background-color: #0005;
  width: 50vw;
  height: 100vh;
  position: absolute;
  left: 50vw;
  top: 0;
  z-index: -1;
}
#menu-btn {
  cursor: grab;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 10px;
  left: 10px;
  border-radius: 25px;
  background-color: #fffbbb;
  list-style: none;
  z-index: 9950;
  transition: all 0.4s ease-in-out;
  box-shadow: 0px 0px 5px #0000;
}
#menu-btn:hover {
  background-color: #fff8ed;
  box-shadow: 0px 0px 5px #0005;
}
#share {
  background-color: #ddd;
  font-weight: 500;
}
#menu-1btn {
  font-size: 30px;
}
#menu-1btn * {
  font-weight: 500;
}
#menu-2btn {
  position: absolute;
  padding: 100px;
  bottom: 0;
  left: 0;
}
summary::-webkit-details-marker {
  display: none;
}


#top {
  position: relative;
  width: 50vw;
  height: 100vh;
  z-index: 50;
  padding: 0 100px;
  padding-top: 23px;
  box-sizing: border-box;
}

#top-menu-text {
  position: relative;
  left: -30px;
}
#top-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(50vw - 200px);
  transform: translate(-50%, -50%);
}
#top-icon {
  width: 20%;
  aspect-ratio: 1/1;
  display: inline-block;
  border-radius: 100%;
  background-image: url('/Sorakime-tegakun/img/icon.jpg');
}
#top-content h1 {
  font-size: 50px;
  font-weight: 500;
}
.top-link {
  background-color: #fff;
  display: inline-block;
  height: 50px;
  width: 50px;
  margin: 0 10px;
  border-radius: 15px;
  background-size: 60%;
  box-shadow: 0 0 5px #0006;
  transition: all 0.2s ease-in-out;
}
.top-link:hover {
  background-color: #e3eeff;
  box-shadow: 0 0 10px #0009;
}
.top-link.x {
  background-image: url('/Sorakime-tegakun/img/x-icon.png');
}
.top-link.yt {
  background-image: url('/Sorakime-tegakun/img/yt-icon.png');
}
.top-link.ig {
  background-image: url('/Sorakime-tegakun/img/ig-icon.png');
}
.top-link.dc {
  background-image: url('/Sorakime-tegakun/img/dc-icon.png');
}
#top-about-short {
  font-size: 20px;
}
#top .see-more {
  position: absolute;
  bottom: 30px;
}
main::after {
  content: '';
  position: absolute;
  height: 150vh;
  width: 70vw;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  clip-path: polygon(0 0, 0% 100%, 100% 0);
  background-color: #fff;
  z-index: 0;
}

main > div {
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  background-color: #fff4;
  position: relative;
  z-index: 1;
}
